<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SYSTEKNIKCMSConnectionString" connectionString="Data Source=E217F\SQLSERVER105;Initial Catalog=SYSTEKNIKCMS;Persist Security Info=True;User ID=sa;Password=jaguar#1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>